@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --main-background-color: #282828;
    --main-background-color-vignette: #222;
    --main-shadow-color: #111;
    --text-color: #ccc;
    --dim-text-color: #777;
    --border-color: #111;
    --accent-color: #06c;
    --accent-shadow-lower: #053976;
    --accent-shadow-upper: #071733;
    --task-width: 18em;
    --font-face: sans-serif;
    --font-size: 16pt;
    --footer-font-size: 10pt;
    --unchecked: '⚫';
    --checked: '🔵';
    --add-icon: '➕';
    --delete-icon: '❌';
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eee;
    --main-background-color: #bbb;
    --main-background-color-vignette: #b0b0b0;
    --main-shadow-color: #888;
    --text-color: #333;
    --dim-text-color: #999;
    --border-color: #777;
    --accent-color: slateblue;
    --accent-shadow-lower: #4f439b;
    --accent-shadow-upper: #c8c4e9;
    --task-width: 18em;
    --font-face: sans-serif;
    --font-size: 16pt;
    --footer-font-size: 10pt;
    --unchecked: '⚪';
    --checked: '🟣';
    --add-icon: '➕';
    --delete-icon: '❌';
  }
}
