@import '../theme.css';

section {
  margin: 0.5ex 0;
}

#complete {
  -webkit-appearance: none;
  appearance: none;
  font-family: var(--font-face);
}

#complete::before {
  content: var(--unchecked);
}

#complete:checked::before {
  content: var(--checked);
}

#task-name {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.5ex;
  color: var(--text-color);
  padding: 0.5ex;
  width: var(--task-width);
}

#task-name:focus-visible {
  background-color: var(--background-color);
  outline: var(--accent-color) solid 2px;
}

:host(.complete) #task-name {
  text-decoration-line: line-through;
  color: var(--dim-text-color);
}

#delete {
  border: none;
  background-color: transparent;
  padding: 0;
}

#complete, #task-name {
  font-size: var(--font-size);
}

#delete {
  font-size: calc(var(--font-size) * 0.75);
}

#delete::before {
  content: var(--delete-icon);
}
